<div class="page_nav">
        <form action="/">
            <input type="text" value="{{query.AppointmentID}}" name="AppointmentID" id="AppointmentID" hidden>
            <input type="text" value="{{query.DoctorMainSpecialty}}" name="DoctorMainSpecialty" id="DoctorMainSpecialty" hidden>
            <input type="text" value="{{query.HospitalName}}" name="HospitalName" id="HospitalName" hidden>
            <input type="text" value="{{query.HospitalCity}}" name="HospitalCity" id="HospitalCity" hidden>
            <input type="text" value="{{query.HospitalRegionName}}" name="HospitalRegionName" id="HospitalRegionName" hidden>
            <input type="text" value="{{query.Status}}" name="Status" id="Status" hidden>
            <input type="time" value="{{query.TimeQueued}}" name="TimeQueued" id="TimeQueued" hidden>
            <input type="date" value="{{query.QueueDate}}" name="QueueDate" id="QueueDate" hidden>
            <input type="time" value="{{query.StartTime}}" name="StartTime" id="StartTime" hidden>
            <input type="time" value="{{query.EndTime}}" name="EndTime" id="EndTime" hidden>
            <input type="text" value="{{query.Type}}" name="Type" id="Type" hidden>
            <input type="text" value="{{query.isVirtual}}" name="isVirtual" id="isVirtual "hidden>
        
            <input type="text" value="{{min_page}}" name="page" id="page" hidden>
            <input type="submit" class="material-icons" value="first_page" {{#if isFirst}}disabled{{/if}}>
        </form>
        <form action="/">
        <input type="text" value="{{query.AppointmentID}}" name="AppointmentID" id="AppointmentID" hidden>
            <input type="text" value="{{query.DoctorMainSpecialty}}" name="DoctorMainSpecialty" id="DoctorMainSpecialty" hidden>
            <input type="text" value="{{query.HospitalName}}" name="HospitalName" id="HospitalName" hidden>
            <input type="text" value="{{query.HospitalCity}}" name="HospitalCity" id="HospitalCity" hidden>
            <input type="text" value="{{query.HospitalRegionName}}" name="HospitalRegionName" id="HospitalRegionName" hidden>
            <input type="text" value="{{query.Status}}" name="Status" id="Status" hidden>
            <input type="time" value="{{query.TimeQueued}}" name="TimeQueued" id="TimeQueued" hidden>
            <input type="date" value="{{query.QueueDate}}" name="QueueDate" id="QueueDate" hidden>
            <input type="time" value="{{query.StartTime}}" name="StartTime" id="StartTime" hidden>
            <input type="time" value="{{query.EndTime}}" name="EndTime" id="EndTime" hidden>
            <input type="text" value="{{query.Type}}" name="Type" id="Type" hidden>
            <input type="text" value="{{query.isVirtual}}" name="isVirtual" id="isVirtual "hidden>

            <input type="text" value="{{prev_page}}" name="page" id="page" hidden>
            <input type="submit" class="material-icons" value="navigate_before" {{#if isFirst}}disabled{{/if}}>
        </form>

        <form action="/">
            <input type="text" value="{{query.AppointmentID}}" name="AppointmentID" id="AppointmentID" hidden>
            <input type="text" value="{{query.DoctorMainSpecialty}}" name="DoctorMainSpecialty" id="DoctorMainSpecialty" hidden>
            <input type="text" value="{{query.HospitalName}}" name="HospitalName" id="HospitalName" hidden>
            <input type="text" value="{{query.HospitalCity}}" name="HospitalCity" id="HospitalCity" hidden>
            <input type="text" value="{{query.HospitalRegionName}}" name="HospitalRegionName" id="HospitalRegionName" hidden>
            <input type="text" value="{{query.Status}}" name="Status" id="Status" hidden>
            <input type="time" value="{{query.TimeQueued}}" name="TimeQueued" id="TimeQueued" hidden>
            <input type="date" value="{{query.QueueDate}}" name="QueueDate" id="QueueDate" hidden>
            <input type="time" value="{{query.StartTime}}" name="StartTime" id="StartTime" hidden>
            <input type="time" value="{{query.EndTime}}" name="EndTime" id="EndTime" hidden>
            <input type="text" value="{{query.Type}}" name="Type" id="Type" hidden>
            <input type="text" value="{{query.isVirtual}}" name="isVirtual" id="isVirtual "hidden>

            <input type="text" value="{{page}}" name="page" id="page">
            <input type="submit" hidden >
        </form>

        <form action="/">
            <input type="text" value="{{query.AppointmentID}}" name="AppointmentID" id="AppointmentID" hidden>
            <input type="text" value="{{query.DoctorMainSpecialty}}" name="DoctorMainSpecialty" id="DoctorMainSpecialty" hidden>
            <input type="text" value="{{query.HospitalName}}" name="HospitalName" id="HospitalName" hidden>
            <input type="text" value="{{query.HospitalCity}}" name="HospitalCity" id="HospitalCity" hidden>
            <input type="text" value="{{query.HospitalRegionName}}" name="HospitalRegionName" id="HospitalRegionName" hidden>
            <input type="text" value="{{query.Status}}" name="Status" id="Status" hidden>
            <input type="time" value="{{query.TimeQueued}}" name="TimeQueued" id="TimeQueued" hidden>
            <input type="date" value="{{query.QueueDate}}" name="QueueDate" id="QueueDate" hidden>
            <input type="time" value="{{query.StartTime}}" name="StartTime" id="StartTime" hidden>
            <input type="time" value="{{query.EndTime}}" name="EndTime" id="EndTime" hidden>
            <input type="text" value="{{query.Type}}" name="Type" id="Type" hidden>
            <input type="text" value="{{query.isVirtual}}" name="isVirtual" id="isVirtual "hidden>

            <input type="text" value="{{next_page}}" name="page" id="page" hidden>
            <input type="submit" class="material-icons" value="navigate_next" {{#if isLast}}disabled{{/if}}>
        </form>

        <form action="/">
            <input type="text" value="{{query.AppointmentID}}" name="AppointmentID" id="AppointmentID" hidden>
            <input type="text" value="{{query.DoctorMainSpecialty}}" name="DoctorMainSpecialty" id="DoctorMainSpecialty" hidden>
            <input type="text" value="{{query.HospitalName}}" name="HospitalName" id="HospitalName" hidden>
            <input type="text" value="{{query.HospitalCity}}" name="HospitalCity" id="HospitalCity" hidden>
            <input type="text" value="{{query.HospitalRegionName}}" name="HospitalRegionName" id="HospitalRegionName" hidden>
            <input type="text" value="{{query.Status}}" name="Status" id="Status" hidden>
            <input type="time" value="{{query.TimeQueued}}" name="TimeQueued" id="TimeQueued" hidden>
            <input type="date" value="{{query.QueueDate}}" name="QueueDate" id="QueueDate" hidden>
            <input type="time" value="{{query.StartTime}}" name="StartTime" id="StartTime" hidden>
            <input type="time" value="{{query.EndTime}}" name="EndTime" id="EndTime" hidden>
            <input type="text" value="{{query.Type}}" name="Type" id="Type" hidden>
            <input type="text" value="{{query.isVirtual}}" name="isVirtual" id="isVirtual "hidden>
            <input type="text" value="{{max_page}}" name="page" id="page" hidden >
            
            <input type="submit" class="material-icons" value="last_page" {{#if isLast}}disabled{{/if}}>
        </form>
    </div>